@media screen and (max-width: 1024px) { /* Quando a tela chegar a 1024px, ela vai aplicar toda estilização aqui escrita. */
    header {
        flex-direction: column;
    }

    main {
        flex-direction: column;
    }

    h2 {
        font-size: 38px;
    }

    form {
        margin: 0 auto;
        width: 100%;
    }

    input {
        align-self: center;
    }

    img {
        display: none;
    }

    ul {
        text-align: center;
    }
}
